.Rproj.user
.Rhistory
.RData

/EPSY530 2014 Fall.Rproj

/.DS_Store

.DS_Store

/Data/openintroData/.Rapp.history

/Textbook Resources/

/Students/

*.log

*.aux

*.nav

*.out

*.snm

*.synctex.gz

*.toc

*.vrb

.Rapp.history

/Labs/Lab1-Key.html
/Labs/Lab1-Key.Rmd
/Labs/Lab3-Key.html
/Labs/Lab3-Key.Rmd

/Labs/Lab2-Key.Rmd
