.Rproj.user
.Rhistory
.RData

/EPSY530 2014 Fall.Rproj

/.DS_Store

.DS_Store

/Data/openintroData/.Rapp.history

/Textbook Resources/

/Labs/Lab0.html

/Labs/Lab1.html

/Students/

*.log

*.aux

*.nav

*.out

*.snm

*.synctex.gz

*.toc

*.vrb

.Rapp.history
